body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(https://i.imgur.com/LkFwL4l.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    line-height: 2.6;
    padding: 20px;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 60vw;
    padding: 10px;
    background-color: #0aa0c5c0;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    color: #0482a1;
}


h2 {
    font-size: 25px;
    color: #2bff00;
}

footer {
    font-size: 20px;
    color: #00ffe5;
}


button {
    border-radius: 5px;
    border: none;
    width: 25vw;
    height: 50px;
}

button:hover {
    box-shadow: 0 0 20px rgba(72, 209, 124, 0.6);
    background-color: #CCE6F4;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #09b1db;
}

a:hover {
    font-size: 16px;
    color: black;
}
