
/*smartphone*/
@media screen and (max-width: 600.98px) { 
    body {
        background-image: url(../img/playa.png);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    main {
    max-width: 60vw;
    }

    h1 {
        font-size: 25px;
    }

}

/*tablet*/
@media screen and (min-width: 601px) and (max-width: 767.98px) {
  
  body {
    background-image: url(../img/Frutiger\ Aero\ Images\ Wallpaper!.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top center;
   
  }

  button {
    margin-bottom: 17px;
  }

  div {
    margin: auto;
    width: 55vw;
  }
}



@media screen and (min-width: 992px)  {
  /*desktop*/

  button {
    margin-bottom: 18px;

  }

  div#res {
    margin: auto;
    width: 55vw;
  }
}
